<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <meta charset="UTF-8">
      <title>TITLE</title>
      <link rel="stylesheet" href="{% static 'mycss.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">

              <div class="header clearfix">
                <!--<nav>
                  <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                  </ul>
              </nav>-->
                <h3 class="text-muted">ABC Shelter - On-Site Adoption Tracker</h3>
              </div>

            <div class="jumbotron padded">

            <form action = "/create" method = "POST">
                {% csrf_token %}
                <label for = "name"> NAME: <input type="text" name="name" id = "name"/></label>
                <label for = "breed">BREED: <input type="text" name="breed" id= "breed"/></label>
                <input type="submit" value="Create"/>
            </form>
            <form>
                <table>
                    <thead>
                        <th>Dog Name</th>
                        <th>Breed</th>
                        <th>Created_at</th>
                        <th>Modified_at</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                    {% for b in dogs %}
                        <tr>
                            <td>{{ b.name }}</td>
                            <td>{{ b.breed }}</td>
                            <td>{{ b.created_at }}</td>
                            <td>{{ b.updated_at }}</td>
                            <td><a href="/edit/{{ b.id }}">EDIT</a> | <a href="/delete/{{ b.id }}">DELETE</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div><!--End Jumbotron Padded-->
        </div><!--End Container-->
    </body>
</html>
